.watch {
  margin: 0 30px;
  video {
    width: 100%;
  }
  p {
    font-size: 40px;
    font-weight: 600;
  }
}
#play {
  background-color: $mainBlue;
}

.video__comments,
.video__comments-form {
  margin: 10px 50px;
}
