extends base.pug

block content 
    form(method="POST")
        span=errorMessage
        input(placeholder="name",name="name", type="text", value=loggedInUser.name ,required)
        input(placeholder="location",name="location", type="text", value=loggedInUser.location, required)
        input(type="submit", value="Update Profile")