extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST" class="form join--form")
        input(placeholder="username",name="username", type="text", required)
        input(placeholder="password",name="password", type="password", required)
        input(type="submit", value="Login")
        br
        a(href="/users/github/start") Continue with Github &rarr;
    hr
    div(class="login__OauthLogin")
        span Create new account? 
        a(href="/join" class="colorText") Join now &rarr;